.botonalternativo { 
    color: #193777;
    background-color: black;
    border: 5px solid black;
    border-radius: 2px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
 
.botonalternativo:hover {
    background-color: #00c69f;
	border: 2px solid #00c69f;
    color: golden;
    text-decoration: none;
}