body {
  margin:10px; background-image: url("../images/background0.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  width:1050px;
  margin:0 auto;
}

#canvasa{ 
  background:#000000;
  border-radius: 10px;
  border:green 2px solid;
}